@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

html {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
}

/* Paleta de colores principal */
:root {
    --color-primary: #1e3a8a; /* Azul oscuro */
    --color-secondary: #2563eb; /* Azul vibrante */
    --color-bg: #f8fafc; /* Gris claro */
    --color-text: #111827; /* Gris oscuro */
    --color-white: #fff;
}